@charset "utf-8";

:root {
  --color-1: #0185cd;
  --color-2: #30b6ff;
  --color-3: #00539f;
  --color-4: #00a651;
  --color-5: #90ffa9;
  --color-6: #005838;
  --color-7: #ff7700;
  --color-8: #ffba53;
  --color-9: #f33a00;
  --font-color: #fff;
  --subfont-color: #808080;
}

body {
  font-family: "Anton", "Noto Sans KR", sans-serif;
  font-size: 20px;
}
.body_bg {
  background: #ebebeb;
}
span {
  font-family: "Noto Sans KR", sans-serif;
}
/* =============================================공용 */
.ff-noto {
  font-family: "Noto Sans KR";
}
.ff-anton {
  font-family: "Anton";
}
strong {
  font-size: 4rem;
}
.space-nowrap {
  white-space: nowrap;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.container {
  max-width: 1440px;
}
.width100 {
  width: 100%;
}
.margin-auto {
  margin: 0 auto;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}
.align-between {
  align-items: space-between;
}
.align-ccenter {
  align-content: center;
}
.align-cbetween {
  align-content: space-between;
}
.align-cfe {
  align-content: flex-end;
}
.text-center {
  text-align: center;
}
.hidden {
  overflow: hidden;
}
.d-none {
  display: none;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-24 {
  gap: 24px;
}
.pt-1 {
  padding: 1rem 0;
}
.pt-2 {
  padding: 2rem 0;
}
.pt-3 {
  padding: 3rem 0;
}
.mt-1 {
  margin: 1rem 0;
}
.mt-2 {
  margin: 2rem 0;
}
.mt-3 {
  margin: 3rem 0;
}
.mt-4 {
  margin: 4rem 0;
}
.mt-5 {
  margin: 5rem 0;
}
.mt-6 {
  margin: 6rem 0;
}
.mt-7 {
  margin: 7rem 0;
}
.mt-8 {
  margin: 8rem 0;
}
.mt-9 {
  margin: 9rem 0;
}
.mt-10 {
  margin: 10rem 0;
}
.mt-12 {
  margin: 12rem 0 0 0;
}
.font-125 {
  font-size: 1.25rem;
}
.center-line {
  text-decoration: line-through;
}
.height-100 {
  height: 100%;
}
.text-upp {
  text-transform: uppercase;
}

.all_container {
  top: 500px;
  height: 100%;
  background: var(--color-01);
  z-index: 10;
}
html {
  scroll-behavior: smooth;
}

/* ========================================header */
.header_top {
  font-family: "Noto Sans KR";
  font-size: 16px;
  height: 65px;
  white-space: nowrap;
  margin: .5rem 0;
  .header_icons {
    height: 60px;
    .phone_number {
      span:nth-child(1) {
        font-size: 20px;
        color: var(--color-1);
        font-weight: bold;
      }
      span:nth-child(2) {
        font-size: 16px;
      }
    }
    .phone {
      margin: 0 3rem 0 0;
    }
    .time {
      .time_icon {
        p {
          margin: 0 0 0.5rem 0;
        }
        img {
          width: 70%;
          height: 70%;
        }
      }
      .time_text {
        p:nth-child(2) {
          color: var(--color-1);
        }
      }
    }
  }
}

/* ========================================nav */
nav {
  & {
    position: relative;
  }
  border-top: 1px solid var(--subfont-color);
}
nav::after {
  content: "";
  background: var(--subfont-color);
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 10;
}
.gnb {
  padding: 1rem 0;
  position: relative;
}
.fa-regular {
  color: #1c1c1c;
}
.lnb {
  display: none;
  position: absolute;
}
/* ========================================slide */
/* ========================================main */
main {
  padding: 2rem 0 0 0;
}
.select_box {
  width: 342px;
  height: 342px;
}
.select_text {
  top: 10%;
  left: 10%;
}
.select_text p:nth-child(1) {
  font-weight: bold;
}
.select_text p:nth-child(2) {
  margin: 1rem 0 0 0;
}
.select_btns {
  top: 72%;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
}
.select_btns button {
  border: 1px solid var(--font-color);
  padding: 0.5rem 1rem;
  color: var(--font-color);
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.select_btns button:nth-child(2) {
  border-left: none;
}
.box1 {
  background: var(--color-1);
  color: var(--font-color);
}
.box2 {
  background: var(--color-4);
  color: var(--font-color);
}
.box3 {
  background: var(--color-7);
  color: var(--font-color);
}
.box1 button:nth-child(1) {
  background: var(--color-2);
}
.box1 button:nth-child(2) {
  background: var(--color-3);
}

.box2 button:nth-child(1) {
  background: var(--color-5);
  color: #333;
}
.box2 button:nth-child(2) {
  background: var(--color-4);
}

.box3 button:nth-child(1) {
  background: var(--color-8);
  color: #333;
}
.box3 button:nth-child(2) {
  background: var(--color-9);
}
/* ========================================aticle */
/* ========================================doctor_search */
article {
  margin: 2rem 0 0 0;
}
.doctor_search {
  width: 708px;
  height: 348px;
  background: var(--color-1);
  color: var(--font-color);
}
.doctor_search > p {
  bottom: 10%;
  left: 38%;
}
.doctor_text {
  top: 10%;
  left: 5%;
  z-index: 10;
}
.doctor_text p {
  margin: 0 0 2rem 0;
}
.doctor_text p:nth-child(1) {
  font-size: 1.6rem;
  font-weight: bold;
}
.select_window {
  padding: 1rem 0 1rem 1rem;
}
.doctor_text form {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.doctor_text form input {
  font-size: 20px;
  border: 1px solid var(--color-3);
}
.doctor_text form input:nth-child(2) {
  padding: 1rem 2rem;
  background: var(--color-3);
  color: var(--font-color);
}
.doctor_profile {
  top: 50%;
  left: 60%;
  transform: translate(0, -50%);
  border-radius: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
/* ======================================== news*/
.tab {
  width: 708px;
  height: 348px;
  border: 1px solid #333;
  box-sizing: border-box;
}
.tab_title li {
  border-right: 1px solid #333;
  margin: 1rem 0;
  padding: 0 2rem;
}

// ======================================== scss
.tab_title {
  position: relative;
  box-sizing: border-box;
  .on {
    font-weight: bold;
  }

  li:nth-last-child(1),
  li:nth-last-child(2) {
    border: none;
  }
  li:nth-last-child(1) {
    position: absolute;
    right: 0%;
  }
}
.news_top {
  margin: 0 0 0 1rem;
  > p:nth-child(1) {
    position: absolute;
    // background: var(--font-color);
    background: #ebebeb;
    color: red;
    padding: 0px 3px;
    top: -2%;
    left: 31px;
    font-size: 2rem;
  }
  .tab_top_text {
    p {
      font-family: "Noto Sans KR";
      line-height: 2;
      margin: 0 0 0 1rem;
    }
    p:nth-child(1) {
      font-size: 1.6em;
      font-weight: bold;
    }
    p:nth-last-child(1) {
      color: var(--subfont-color);
    }
  }
}
.news_bottum {
  div {
    line-height: 2.5;
    list-style: disc;
    margin: 0 1rem;
  }
  span {
    color: var(--subfont-color);
  }
}
.day_border {
  display: inline-block;
  border: 15px solid var(--color-1);
  padding: 0.5rem 0.5rem;
  p:nth-child(1) {
    text-align: center;
    margin: 0 0 1rem;
    font-size: 3.2em;
    color: var(--color-3);
  }
}
/* ======================================== */
.slider {
  overflow: hidden;
  margin: 0 auto;
  width: 1440px;
  height: 600px;

  .slider_wrap {
    display: flex;
  }
  .slide1 {
    position: relative;

    p {
      white-space: nowrap;
      font-family: "Noto Sans KR";
      font-size: 3.2em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: var(--font-color);
      line-height: 0.5;
      z-index: 10;
      span {
        font-size: 20px;
      }
    }
  }
  .s1 img {
    width: 1440px;
  }
  .s2 img {
    width: 940px;
  }
  .s3 img {
    width: 850px;
  }
  .slide1::after {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
  }
  .s2img {
    width: 1440px;
  }
  .s3img {
    width: 1440px;
  }
}

// =======================================info
.info_title {
  margin: 3rem 0;
  font-size: 1.6em;
  strong {
    font-size: 32px;
    font-weight: bold;
  }
}
.info {
  .info_box {
    width: 342px;
    .info_text {
      color: var(--font-color);
      text-align: center;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, 0);
      white-space: nowrap;
      z-index: 10;
      p:nth-child(1) {
        margin: 0 0 5rem 0;
      }
    }
  }
  img {
    vertical-align: top;
  }
  .info_img::after {
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 30px 0 30px;
  }
}

/* ======================================== map*/
.mtt-1 {
  p:nth-child(1) {
    margin: 3rem 0 2rem 0;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
  }
}
//======================================footer
.footer_bg {
  background: #292929;
  color: var(--font-color);
  .family_bg {
    background: #000;
  }
  .family_site {
    padding: 1rem 5rem;
  }
  .footer_text {
    line-height: 1.3;
    .footer_link {
      margin: 1rem 0;
      li {
        border-right: 1px solid var(--font-color);
        padding: 0 1rem 0 0;
        margin: 0 1rem 0 0;
      }
      li:nth-last-child(1) {
        border: none;
      }
    }
    .offline {
      margin: 1rem 0;
    }
  }
}
.copyright {
  font-size: 0.8em;
  color: #777;
  padding: 0 0 2rem 0;
}
